body {
    background-image: url('https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMzk2fQ&w=1000&q=80');
    background-size: cover;
    margin: 0;
    padding: 0;

}

h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    height:45px;
    margin: 0;
    color:#eee;
    font-size: 60px;
    text-align: center;
    background-color:grey;
}

h2 {
    font-size: 28px;
    margin-right: 40px;
}

a {
    color: blue;
}

p {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(25, 6, 59, 0.822);
    font-size: 20px;
}

.headcontainer {
    width: 1024px;
    height: 75px;
    margin: 150px auto;
    margin-bottom: 25px;
    background-color:lightgrey;

}

.container {
    width: 1024px;
    margin: 0 auto;
}

#main-bio,#contact-info,#bio-image {
    float: left;
    background-color: lightgrey;
}

#main-bio {
    width: 60%;
}

#contact-info {
    width: 40%;
    font-size: 20px;
}

#bio-image {
    width:200px;
    height: 200px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;

}

ul {
    background-color: lightgray;
    height:179px;
    margin-right: 5px;
}



